/*#noose {*/
  /*margin-left: auto;
  margin-right: auto;*/

  /*text-align: right;
  margin-left: 300px;
  margin-right: 45%;
}*/

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.btn-primary {
  text-align: center;
}
